name: Build

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  windows:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4

      # --------------------------
      # Cache Qt installation
      # --------------------------
      - name: Cache Qt
        uses: actions/cache@v4
        with:
          path: Qt
          key: ${{ runner.os }}-qt-6.10.1-msvc2022-qtcharts-qtmultimedia

      # --------------------------
      # Install Qt (uses cache)
      # --------------------------
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "6.10.1"
          host: "windows"
          target: "desktop"
          arch: "win64_msvc2022_64"
          modules: "qtcharts qtmultimedia"
          dir: ${{ github.workspace }}/Qt

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      # --------------------------
      # Configure + Build + Test
      # --------------------------
      - name: Configure (CMake)
        shell: pwsh
        run: |
          cmake -S . -B build `
            -G "Ninja" `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_PREFIX_PATH="$env:QT_ROOT_DIR"

      - name: Build
        shell: pwsh
        run: |
          cmake --build build --config Release

      - name: Test
        shell: pwsh
        run: |
          ctest --test-dir build --output-on-failure
